*{
	margin: 0px;
	padding: 0px
}
body{
	font-family: Arial;
}
.fix-container{
	width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
.fix-row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}
/*main*/
main{
  width: 100%;
}
#product-list, #pay{
  float: left;
}
/*product-list*/
#product-list >p{
  font-size: 18px;
  text-transform: uppercase;
}
/*end product-list*/
/*pay*/
/*end pay*/
/*end main*/
@media (min-width: 576px) {
  .fix-container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .fix-container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .fix-container {
    max-width: 992px;
  }
}

@media (min-width: 1200px) {
  .fix-container {
    max-width: 1200px;
  }
}