*{
	margin: 0px;
	padding: 0px
}
body{
	font-family: Arial;
}
.fix-container{
	width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
.fix-row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}
/*main*/
#main-cart{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
#main-cart #product-list, #pay{
  float: left;
  background-color: #fff;
}
/*product-list*/
#main-cart #product-list{
  border-right: 5px solid #EFF0F5;
  padding: 0px;
}
#main-cart #product-list >p{
  margin-bottom: 0px;
  margin-left: 10px;
  font-size: 18px;
  text-transform: uppercase;
}
#main-cart #product-list hr{
  margin-top: 0px;
}
#main-cart #product-list img{
  padding: 0px;
  background-color: #fff;
  border: none;
  border-radius: 0rem;
}
#main-cart .product{
  margin-left: 10px;
}
#main-cart .product #info img{
  float: left;
}
#main-cart .product button{
  padding: 6px 30px;
  float: right;
  margin: 5px 10px;
}
#main-cart .product hr{
  clear: both;
}
/*end product-list*/
/*pay*/
#main-cart #pay table{
  width: 100%;
}
#main-cart #pay img{
  width: 24px;
  padding: 0px;
  background-color: #fff;
  border: none;
  border-radius: 0rem;
}
/*end pay*/
/*end main*/
@media (min-width: 576px) {
  .fix-container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .fix-container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .fix-container {
    max-width: 992px;
  }
}

@media (min-width: 1200px) {
  .fix-container {
    max-width: 1200px;
  }
}