*{
	margin: 0px;
	padding: 0px;
}
#main-login{
	width: 70%;
	margin: 0 auto;
	margin-top: 20px;	
}
#main-login >p{
	font-size: 24px;
}
#main-login form{
	overflow: hidden;
	background-color: #fff;
	width: 100%;
	padding: 20px;
}
#main-login #mail{
	float: left;
}
#main-login #mail p{
	margin: 0px;
	font-size: 13px;
}
#main-login #mail input{
	width: 100%;
}
#main-login #mail a{
	float: right;
}
#main-login #login-button{
	float: left;
}
#main-login #login-button input{
	width: 100%;
	border: none;
}
#main-login #login-button p{
	margin-top: 10px;
	font-size: 14px;
}