*{
	margin: 0px;
	padding: 0px
}
body{
	font-family: Arial;
}
.fix-container{
	width: 100%;
  	padding-right: 0px;
  	padding-left: 0px;
  	margin-right: auto;
  	margin-left: auto;
}
.fix-row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}
/*main*/
/*product-top*/
#product-top{
  margin-top: 20px;
  background-color: #fff;
  margin-bottom: 15px;
  overflow: hidden;
}
/*product-img*/
#product-img, #product-name, #address, #chi-tiet, #quang-cao{
  float: left;
}
#product-img{
  padding: 0px;
  padding-right: 15px;
}
#product-img img{
  padding: 0px;
  background-color: #fff;
  border: none;
  border-radius: 0rem;
  width: 100%;
}
/*end product-img*/
/*product-name*/
#product-name{
  background-color: #fff;
  padding: 0px;
}
#product-name div p{
  padding: 0px;
  margin: 0px;
}
#product-name button{
  margin-top: 20px;
}
/*end product-name*/
/*address*/
#address{
  padding: 0px;
  padding-left: 15px;
  font-size: 14px;
  background-color: #FAFAFA;
}
#address >div >p{
  color: #A4A6A4;
  padding: 0px;
  margin-bottom: 5px;
}
#address >div >div{
  clear: both;
  overflow: hidden;
}
#address >div >div >img{
  float: left;
}
#address >div >div input{
  border: none;
  border-bottom: 2px solid #ccc;
}
#address >div >div >p{
  padding: 0px;
  margin-left: 10px;
  float: left;
}
#address img{
  width: 30px;
  padding: 0px;
  background-color: #FAFAFA;
  border: none;
  border-radius: 0rem;
}
#address input{
  margin-left: 10px;
  background-color: #FAFAFA;
}
/*end address*/
/*product-top*/

/*info-product*/
/*chi-tiet*/
#chi-tiet{
  padding-left: 0px;
}
/*thong-tin-chi-tiet*/
#thong-tin-chi-tiet{
  background-color: #fff;
}
#thong-tin-chi-tiet h4{
  background-color: #FAFAFA;
  padding: 5px 20px;
  margin: 0px;
}
#thong-tin-chi-tiet ul{
  margin-bottom: 0px;
  margin-left: 50px;
}
#thong-tin-chi-tiet img, p{
  padding: 0px 15px;
}
#thong-tin-chi-tiet table{
  margin-left: 15px;
}
#thong-tin-chi-tiet table tr td{
  padding: 0 20px;
}
/*end thong-tin-chi-tiet*/

/*comments*/
#comments{
  margin-top: 5px;
  background-color: #fff;
}
#comments >p{
  font-size: 20px;
  font-weight: bold;
  background-color: #FAFAFA;
}
.comment-item p{
  margin: 0px;
}
#comments form{
  margin: 0 15px;
}
#comments form textarea{
  width: 100%;
  height: 100px;
}
/*end comments*/
/*end chi-tiet*/
/*quang-cao*/
#quang-cao{
  padding: 0px;
  background-color: #fff;
}
#quang-cao >p{
  margin-bottom: 0px;
  text-align:center;
  background-color: #FAFAFA;
}
#quang-cao div{
  border: 1px solid #fff;
}
#quang-cao div:hover{
  border: 1px solid #ccc;
}
#quang-cao div a{
  color: #000;
}
#quang-cao div a:hover{
  text-decoration: none;
  color: #ccc;
}
#quang-cao div a p{
  text-align: center;
  padding-left: 5px;
  margin: 0px;
}
#quang-cao div a p:last-child{
  color: #ff9600;
  font-weight: bold;
  margin-bottom: 30px;
}
#quang-cao div img{
  padding: 0px;
  background-color: #fff;
  border: none;
  border-radius: 0rem;
  width: 100%;
}
/*end quang-cao*/
/*end info-product*/


@media (min-width: 576px) {
  .fix-container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .fix-container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .fix-container {
    max-width: 992px;
  }
}

@media (min-width: 1200px) {
  .fix-container {
    max-width: 1200px;
  }
}