*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: Arial;
}
.fix-container{
	width: 100%;
  	padding-right: 0px;
  	padding-left: 0px;
  	margin-right: auto;
  	margin-left: auto;
}
.fix-row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

/*aside*/
#aside-product-list{
	margin: 10px 0px;
}
/*slide*/
#aside-product-list #slide-product{
	padding: 0px;
}
/*jssor slider loading skin spin css*/
#aside-product-list .jssorl-009-spin img {
	animation-name: jssorl-009-spin;
	animation-duration: 1.6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

/*jssor slider bullet skin 051 css*/
#aside-product-list .jssorb051 .i {position:absolute;cursor:pointer;}
#aside-product-list .jssorb051 .i .b {fill:#fff;fill-opacity:0.5;}
#aside-product-list .jssorb051 .i:hover .b {fill-opacity:.7;}
#aside-product-list .jssorb051 .iav .b {fill-opacity: 1;}
#aside-product-list .jssorb051 .i.idn {opacity:.3;}

/*jssor slider arrow skin 051 css*/
#aside-product-list .jssora051 {display:block;position:absolute;cursor:pointer;}
#aside-product-list .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
#aside-product-list .jssora051:hover {opacity:.8;}
#aside-product-list .jssora051.jssora051dn {opacity:.5;}
#aside-product-list .jssora051.jssora051ds {opacity:.3;pointer-events:none;}
/*end slide*/

/*banner*/
#aside-product-list #banner-product{
	padding: 0px;
	margin-top: 10px;
}
#aside-product-list #banner-product div{
	padding: 0px 4px;
	float: left;
}
#aside-product-list #banner-product div:first-child{
	padding-right: 8px;
	padding-left: 0px
}
#aside-product-list #banner-product div:last-child{
	padding-left: 8px;
	padding-right: 0px;
}
#aside-product-list .banner-product-item img{
	padding: 0px;
	border: none;
	border-radius: 0px;
}
/*end banner*/


/*end aside*/

/*bar-OP*/
#main-product-list #bar-OP, #product-OP{
	float: left;
	padding: 0px;
}
#main-product-list #bar-OP{
	padding-right: 3px;
}
#main-product-list #bar-OP p{
	background: #ccc;
	text-transform: uppercase;
	font-weight: bold;
}
#main-product-list #bar-OP li{
	list-style: none;
	margin-left: 20px;
}
#main-product-list #bar-OP a{
	color: #000;
}
#main-product-list #bar-OP a:hover{
	text-decoration: none;
	color: #CCC;
}
/*end bar-OP*/

/*product-OP*/
#main-product-list #product-OP{
	margin-bottom: 20px;
}
#main-product-list #product-values-OP{
	height: 81px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}
#main-product-list #product-values-OP div:first-child{
	float: left;
	padding-left: 20px;
}
#main-product-list #product-values-OP div:last-child{
	float: right;
}
#main-product-list #product-values-OP p{
	color: #70667F;
}
#main-product-list #product-list-OP{
	clear: both;
}
#main-product-list .product-item-OP{
	float: left;
	border: 2px solid #fff;
}
#main-product-list .product-item-OP:hover{
	border: 2px solid #ccc;
}
#main-product-list .product-item-OP:hover button{
	display: block;
}
#main-product-list .product-item-OP img{
	padding: 0px;
	border: none;
	border-radius: 0px;
}
#main-product-list .product-item-OP a{
	color: #000;
}
#main-product-list .product-item-OP a b{
	color: #ff9600;
}
#main-product-list .product-item-OP a p{
	font-size: 11px;
	margin: 0px;
}
#main-product-list .product-item-OP a:hover{
	text-decoration: none;
	color: #000;
}
#main-product-list .product-item-OP div{
	height: 37px;
}
#main-product-list .product-item-OP button{
	width: 100%;
	display: none;
}
/*end product-OP*/

/*info-OP*/
#main-product-list #info-OP{
	clear: both;
}
#main-product-list #info-OP div p{
	font-size: 20px;
	color: #000;
	margin: 0px;
}
#main-product-list #info-OP div ul{
	margin: 0px;
	margin-left: 20px;
	font-size: 12px;
}
#main-product-list #info-OP div ul li{
	list-style: none;
}
/*end info-OP*/

@media (min-width: 576px) {
  .fix-container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .fix-container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .fix-container {
    max-width: 992px;
  }
}

@media (min-width: 1200px) {
  .fix-container {
    max-width: 1200px;
  }
}
@keyframes jssorl-009-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
@media (max-width: 1200px){
	#slide-product{
		display: none;
	}
}
@media (max-width: 768px){
	#banner-product{
		display: none;
	}
}