*{
	margin: 0px;
	padding: 0px;
}
#main-register{
	width: 70%;
	margin: 0 auto;
	margin-top: 20px;	
}
#main-register >p{
	font-size: 24px;
}
#main-register form{
	overflow: hidden;
	background-color: #fff;
	width: 100%;
	padding: 20px;
	font-size: 14px;
}
#main-register #col-1{
	float: left;
}
#main-register #col-1 p{
	margin: 0px;
}
#main-register #col-1 input{
	width: 100%;
	margin-bottom: 20px;
}
#main-register #col-1 select{
	margin-top: 5px;
	margin-right: 5px;
}
#main-register #col-2{
	float: left;
}
#main-register #col-2 p{
	margin: 0px;
}
#main-register #col-2 input{
	width: 100%;
	margin-bottom: 15px;
}