*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: Arial;
}
.fix-container{
	width: 100%;
  	padding-right: 0px;
  	padding-left: 0px;
  	margin-right: auto;
  	margin-left: auto;
}
.fix-row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}
/*header-t*/
#header-t{
	background-color: #CD1818;
	height: 55px;
}
/*logo*/
#logo{
	padding: 0px;
}
#logo h1{
	margin: 0px;
}
#logo img{
	width: 190px;
	border: none;
	background: none;
	padding: 0px;
  	border-radius: 0px;
}
/*end logo*/
/*search*/
#search input[type=text]{
	height: 35px;
	width: 460px;
	margin-top: 10px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #ccc;
	float: left;
	padding-left: 6px;
}
#search input[type=submit]{
	margin-left: -1px;
	height: 35px;
	width: 80px;
	background: #fff;
	margin-top: 10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #ccc;
	float: left;
}
/*end search*/
/*icon*/
#icon .icon-item{
	float: left;
	margin: 0px 10px;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
.icon-item a{
	color: #fff;
}
.icon-item a:hover{
	text-decoration: none;
	color: #ccc;
}
.icon-item img{
	width: 30px;
	height: 30px;
	margin-top: 2px;
	border: none;
	background: none;
	padding: 0px;
  	border-radius: 0px;
}
.icon-item p{
	margin: 0px;
}
/*end icon*/
/*end header-t*/

/*header-b*/
#header-b{
	background: #252525;
	height: 35px;			
}
#menu{
	padding: 0px;
}
#menu >ul{
	list-style: none;
	height: 35px;
	line-height: 35px;
	margin-bottom: 0px;
	position: relative;
}
#menu >ul >li{
	float: left;
	margin-right: 40px;
}
#menu >ul >li >a{
	color: #fff;
}
#menu >ul >li >a:hover{
	color: #CCC;
	text-decoration: none;
}
#menu >ul >li:hover .menu-child{
	display: block;
}
#menu ul> li> a >img{
	width: 30px;
	height: 30px;
	float: left;
	margin-top: 2px;
	border: none;
	background: none;
	padding: 0px;
  	border-radius: 0px;
}
#menu ul> li > a >p{
	margin-left: 7px;
	float: left;
	margin-bottom: 0px;
}

/*menu-child*/
.menu-child{
	background: #fff;
	display: none;
	position: absolute;
	top: 100%;
	left: 0%;
	width: 100%;
	z-index: 1;/*hiển thị trên slide-cần phải có position: relative*/
}
#menu-link{
	float: left;
	border-right: 1px solid #ccc;
}
#menu-link p{
	text-align: center;
	margin: 0px;
	font-size: 20px;
	color: #FF9600;
	font-weight: bold;
}
.menu-child-list{
	float: left;
	border-top: 1px solid #ccc;
}
.menu-child-list ul{
	list-style: none;
}
.menu-child-list a{
	color: #000;
}
.menu-child-list a:hover{
	color: #189EFF;
	text-decoration: none;
}
#menu-child-img{
	padding: 0px;
	float: left;
}
#menu-child-img img{
	border: none;
	background: none;
	padding: 0px;
  	border-radius: 0px;
}
/*end menu-child*/
/*end header-b*/

/*section*/
section{
	background-color: #F3F3F3;
	padding-bottom: 30px;
}
/*aside*/
#banner{
	margin-top: 10px;
	padding-left: 0px;
	padding: 0px;
}
/*slide*/
#slide{
	float: left;
	padding-left: 0px;
}
/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
	animation-name: jssorl-009-spin;
	animation-duration: 1.6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

/*jssor slider bullet skin 111 css*/
.jssorb111 .i {position:absolute;color:#fff;font-family:"Helvetica neue",Helvetica,Arial,sans-serif;text-align:center;cursor:pointer;z-index:0;}
.jssorb111 .i .n {display:none;}
.jssorb111 .i .b {fill:#fff;stroke:#000;stroke-width:500;stroke-miterlimit:10;stroke-opacity:.5;}
.jssorb111 .i:hover .b {fill:#fea900;stroke:#fea900;stroke-width:6000;stroke-opacity:1;}
.jssorb111 .iav .b {fill:#000;stroke-width:6000;stroke-opacity:1;}
.jssorb111 .i.idn {opacity:.3;}
.jssorb111 .iav .n, .jssorb111 .i:hover .n {display:block;}

/*jssor slider thumbnail skin 121 css*/
.jssort121 .p {position:absolute;top:0;left:0;border-bottom:1px solid rgba(255,255,255,.2);box-sizing:border-box;color:#fff;background:rgba(0,0,0,.1);opacity:.7;}
.jssort121 .p .t {position:absolute;padding:10px;box-sizing:border-box;top:0;left:0;width:100%;height:100%;line-height:24px;overflow:hidden;}
.jssort121 .p .i {margin-right:10px;position:relative;top:0;left:0;width:96px;height:48px;border:none;float:left;}
.jssort121 .pav, .jssort121 .p:hover {color:#000;background:rgba(255,255,255,.7);}
.jssort121 .p:hover {opacity:.75;}
.jssort121 .pav, .jssort121 .p:hover.pdn {opacity:1;}
.jssort121 .ti {position:relative;font-size:14px;font-weight:bold;}
.jssort121 .d {position:relative;font-size:12px;}
/*.jssort121 .d:before {content:'\a';white-space:pre;}*/
/*end slide*/

/*flyer*/
#flyer{
	float: left;
	padding: 0px;
}
#flyer div img{
	border: none;
	background: none;
	padding: 0px;
  	border-radius: 0px;
}
.flyer:last-child{
	margin-top: 21px;
}
/*end flyer*/

/*banner-b*/
#banner-b > div{
	margin-top: 8px;
	float: left;
	padding: 0px;
}
#banner-b div a img{
	min-width: 100%;
	border: none;
	background: none;
	padding: 0px;
  	border-radius: 0px;
}
/*end banner-b*/
/*end aside*/

/*main*/
/*product*/
.product{
	margin-top: 20px;
	overflow: hidden;
}
.product > h3{
	float: left;
}
.product > a{
	float: right;
	color: #A4A5A7;
}
.product > a:hover{
	text-decoration: none;
	color: #FF9600;
	font-size: 17px;
}
.product-list{
	clear: both;
	margin-top: 3px;
}
.product-item{
	background: #fff;
	border: 2px solid #fff;
} 
.product-item:hover{
	border-bottom: 2px solid #ccc;
	border-left: 2px solid #ccc;
	border-right: 2px solid #ccc;
}
.product-item a{
	color: #000;
}
.product-item a:hover{
	text-decoration: none;
	color: #000;
}
.product-item img{
	min-width: 100%;
	border: none;
	background: none;
	padding: 0px;
  	border-radius: 0px;
}
.product-item b{
	color: #ff9600;
}
/*end product*/

/*good-product*/
#good-product{
	margin-top: 20px;
}
#good-product > h2{
	float: left;
}
#good-product > a{
	float: right;
	color: #A4A5A7;
}
#good-product > a:hover{
	text-decoration: none;
	color: #FF9600;
}
#good-product .good-product-list{
	clear: both;
	margin-top: 3px;
}
#good-product .good-product-list .good-product-item{
	background: #fff;
	border: 2px solid #fff;
	position: relative;
}
#good-product .good-product-list .good-product-item:hover{
	border-bottom: 2px solid #ccc;
	border-left: 2px solid #ccc;
	border-right: 2px solid #ccc;
}
.good-product-item a{
	color: #000;
}
.good-product-item a:hover{
	text-decoration: none;
	color: #000;
}
.good-product-item img:first-child{
	min-width: 100%;
	border: none;
	background: none;
	padding: 0px;
  	border-radius: 0px;
}
#good-product .good-product-list .good-product-item a .good-product-logo{
	width: 26%;
	position: absolute;
	left: 37%;
	bottom: 24px;
	border: 3px solid yellow;
	padding: 0px;

}
#good-product .good-product-list .good-product-item a p{
	overflow: hidden;
	margin: 0px;
	text-align: center;
	color: #ff9600;
	font-weight: bold;
}
/*end good-product*/
/*end main*/
/*end section*/

/*footer*/
/*email-news-register*/
#email-news-register{
	background: #F7F7F7;
}
#email-text{
	height: 80px;
	line-height: 80px;
}
#email-icon, #email-text, #email-form{
	padding: 0px;
}
#email-icon img{
	border: none;
	background: none;
	padding: 0px;
  	border-radius: 0px;
  	float: right;
}
#email-news-register form{
	height: 80px;
	line-height: 80px;
}
#email-news-register form input[type=text]{
	width: 300px;
	height: 45px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding-left: 5px;
}
/*end-email-news-register*/

/*footer-t*/
#logo-f{
	padding: 0px;
}
#logo-f img{
	width: 190px;
	border: none;
	background: none;
	padding: 0px;
  	border-radius: 0px;
}
#info{
	padding: 0px;
}
.info-item{
	float: left;
}
#info ul{
	list-style: none;
}
.info-item ul li a:hover{
	text-decoration: none;
	color: #ccc;
}
#contact{
	float: left;
}
#contact p{
	margin: 0px;
}
#contact div img, #contact a img{
	padding: 0px;
	width: 35px;
	border: none;
	background: none;
	padding: 0px;
}
/*end footer-t*/

/*footer-b*/
#footer-b{
	background-color: #F2F2F2;
}
#footer-b div p{
	margin: 0px auto;
}
/*end footer-b*/
/*end footer*/

/*@media*/
@keyframes jssorl-009-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@media (min-width: 576px) {
  .fix-containerx {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .fix-container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .fix-container {
    max-width: 992px;
  }
}

@media (min-width: 1200px) {
  .fix-container {
    max-width: 1200px;
  }
}